@inherits LayoutComponentBase
@using Clarity_Crate.Pages

<PageTitle>Clarity Crate</PageTitle>

<MudThemeProvider Theme="_currentTheme" /> />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    <main>
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudSpacer />
                <!-- <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />-->
            </MudAppBar>
            <MudDrawer @bind-Open="@open" ClipMode="clipMode" Elevation="1">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">Clarity Crate</MudText>
                </MudDrawerHeader>
                <MudNavMenu Color="Color.Info" Rounded="true">
                    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>

                    <MudNavGroup Title="Admin" @bind-Expanded=_isExpanded Icon="@Icons.Material.Filled.AdminPanelSettings">
                        <MudNavLink Href="/curriculums" Match="NavLinkMatch.All">Curriculums</MudNavLink>
                        <MudNavLink Href="/subjects" Match="NavLinkMatch.All">Subjects</MudNavLink>
                        <MudNavLink Href="/topics" Match="NavLinkMatch.All">Topics</MudNavLink>

                        <MudNavLink Href="/terms" Match="NavLinkMatch.All">Terms</MudNavLink>
                        <MudNavLink Href="/levels" Match="NavLinkMatch.All">Levels</MudNavLink>
                    </MudNavGroup>


                </MudNavMenu>
            </MudDrawer>
            <MudMainContent>
                <MudContainer>
                    @Body
                </MudContainer>
            </MudMainContent>


        </MudLayout>

    </main>

    <Footer />
</div>



@code {
    bool open = false;
    bool _isExpanded = false;

    DrawerClipMode clipMode = DrawerClipMode.Docked;

    void ToggleDrawer()
    {
        open = !open;
    }

    private readonly MudTheme _currentTheme = new()
    {
                    /*
                    Palette = new PaletteLight
                    {

                        Primary = "#007bff", // Blue
                        Secondary = "#6c757d", // Gray
                        Info = "#17a2b8", // Cyan
                        Success = "#28a745", // Green
                        Warning = "#ffc107", // Yellow
                        Error = "#dc3545", // Red
                        AppbarBackground = "#212121", // Dark gray
                        TextPrimary = "#212529", // Dark gray
                        TextSecondary = "#6c757d", // Gray
                    },
                        Typography = new Typography()
                    {
                        Default = new Default()
                        {
                            FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
                        }
                    }
                    */
    };
}